# =========================
# FOR REPLICATION CONTROLLER (RC)
# =========================

apiVersion: v1               # API version for ReplicationController (old core API)
kind: ReplicationController  # Declares this object as a ReplicationController
metadata:                    # Metadata section (identity info)
  name: nginx-rc             # Name of the ReplicationController
spec:                        # Specification of desired state
  replicas: 5                # Number of pod replicas to maintain at all times
  selector:                  # Label selector used to manage pods
    app: nginx               # RC manages pods having label app=nginx
  template:                  # Pod template (blueprint for pods created by RC)
    metadata:                # Metadata for the pods
      labels:                # Labels assigned to each pod
        app: nginx           # Label key-value used for selection
    spec:                    # Pod specification
      containers:            # List of containers inside the pod
      - name: nginx          # Name of the container
        image: nginx         # Docker image used (official nginx image from Docker Hub)
        ports:               # Ports exposed by the container
        - containerPort: 80  # Container listens on port 80


# =========================
# FOR REPLICA SET (RS)
# =========================

apiVersion: apps/v1          # API version for ReplicaSet (apps API group)
kind: ReplicaSet             # Declares this object as a ReplicaSet
metadata:                    # Metadata section
  name: nginx-rs             # Name of the ReplicaSet
spec:                        # Desired state specification
  replicas: 5                # Number of pod replicas to run

  selector:                  # Selector defining which pods are managed
    matchLabels:             # Label-based selection
      app: nginx             # Matches pods with label app=nginx
    matchExpressions:        # Expression-based selector (more flexible)
      - {key: app, operator: In, values: [nginx]} # app label must be "nginx"

  template:                  # Pod template for ReplicaSet
    metadata:                # Pod metadata
      labels:                # Labels assigned to pods
        app: nginx           # Label used by selector to manage pods
    spec:                    # Pod specification
      containers:            # List of containers
      - name: nginx          # Container name
        image: nginx         # Docker image used
        ports:               # Ports exposed by container
        - containerPort: 80  # Application listens on port 80
