#POD FILE
apiVersion: v1
kind: Pod 
metadata:
  name: nginx 
  labels:
    app: nginx
spec:
  containers:
  - name: container1
    image: nginx
    ports:
    - containerPort: 80

#SERVICE FILE FOR CLUSTERIP

apiVersion: v1
kind: Service 
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  ports:
   - name: nginx-service
     protocol: TCP
     port: 80
       
#SERVICE FILE FOR NODEPORT

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - name: nginx
      protocol: TCP
      port: 80            
      nodePort: 32333   

#SERVICE FILE FOR LOADBALANCER

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: LoadBalancer
  selector:
    app: nginx
  ports:
    - name: nginx
      protocol: TCP
      port: 80        
      targetPort: 80  
